.content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: left 0.3s ease;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 35px;
}
@media screen and (max-width: 576px) {
    width: 100%;    
}


