.navbar-ml {
    margin-left: 250px;
    box-shadow: 1px 0px 2px 2px rgba(42,42,42, 0.25);
    background: #B71C1C;
}

button .navbar-toggler {
    color: #fafafa;
    background-color: #fafafa;
}

@media screen and (max-width:576px) {
    #navbar {
        width: 100%;
        margin-left: -250px;
        left: 250px;
    }
}    