// COLORS
// #D91E18
// #CF000F
$bg-warning: #DB0A5B;

.bg-pink {
    background-color: $bg-warning
}

$bg-primary-sidebar: #212121;
$bg-link-hover: #D91E18;

html, body {
    height: 100%;
}

#sidebar {
    position:fixed;
    outline: invert;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: $bg-primary-sidebar;
    color: rgba(250,250,250, 87);
    box-shadow: 1px 0px 2px 2px rgba(42,42,42, 0.25);


    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: 0.3s;
    }

    ul li a{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 20px;
        font-size: 1.1em;
        display:block;

        i {
            margin-right: 15px;
        }
    }

    ul li a:hover {
        color: #fff;
        background-color: $bg-link-hover;
    }



}

@media all and (max-width:576px) {
    #sidebar { left:-250px; }   /* hide sidebar if screen < 400px */
    transition: all 0.4s ease;
  }