$bg-card: #CF000F;
$dark-overlay: rgba(0,0,0, 0.7);

.bg-card-primary {
    background:#CF000F;
}

#card {
    color: #fff;
    // opacity: 0.8;
}

#home-section {
    background: url('../images/gold.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height:  700px;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }

    .home-inner {
        padding-top: 150px;
    }

    .fa {
        color: #fff;
        background-color: $bg-card;
        padding: 4px;
        border-radius: 5px;
        font-size: 30px;
    }
}