$bg-primary-navbar:  #A8000B;

@media(max-width: 576px) {
    nav .container {
        width: 100%;
    }
}

.bg-navbar {
    background-color: $bg-primary-navbar;
    // opacity: 0.8;
}

.navbar-nav li a  {
    color: rgba(255,255,255, 100);
}
