$bg-pink:#E91E63;
$bg-green:#8BC34A;
$bg-blue: #2196F3;


.bg-pink {
    background-color: $bg-pink;
}

.bg-green {
    background-color: $bg-green
}

.bg-blue {
    background-color: $bg-blue;
}

@media all and(max-width:576px) {
    #content {
        margin-left: -250px;
        left: 250px;
        width: 100%;
        transition: all 0.4s ease;
    }
}

// .push {
//     transition: transform 0.5;
//     transform: translate(0px, 160px);
// }

// .pushUp {
//     transition: transform 0.5s;
//     transform: translate(0px, 0px);
// }

// @media (max-width: 767px) {
//     #pushContent {
//     height: 222.5px;
//     width:100%;
//     display: none;
//     }
// }

// @media (max-width: 576px) {
//     #pushContent {
//     height: 222.5px;
//     width:100%;
//     display: none;
//     }
// }